body {
    background-color: antiquewhite;
}

.container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.main {
    display: flex;
}

.main div {
    flex:3;
}

.main div button {
    background-color: rgb(192, 114, 114);
    width:100x;
    height:80px;
    border-radius: 3px;
}